.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(254, 254, 253);
    align-items: center; 
    height:5em;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgb(202, 202, 202);
    text-align: center;
}

.welcome {
    display: flex;
    align-items: center;
    justify-self: center;
}