.dichvu{
    text-align: center;
    margin-top: 30px;
    
    }
    .dichvu h1{
        text-transform: uppercase;
        font-size: 200%;
    }
    .dichvu-Content{
        color: black;
        background-color: #f8f8f8;
         border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        max-width: 1200px;
        margin: 20px auto;
        font-size: 20px;
       
    }
.head {
    font-weight: bold;
}
.content .title {
    font-weight: bold;

}

.section-dichvu-title {
    font-size: 3em; 
    color: #1B1A55;
    font-weight: bold;
    
}

.content-last {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }