

.baogia {
  margin: 10px 0 0 0;
  padding: 0 4.5vw 0 4.5vw;
  box-sizing: border-box;
}

.rowBaoGia {
  margin: 10px 0 0 0;
}

.title {
  font-weight: 600;
  padding: 0 0 5px 0;
  font-size: 30px;
  border-bottom: 1px solid gray;
}

.textTitle {
  font-size: 25px;
  font-weight: 500;
}


.baogiaCover {
  border: 1px solid #1B1A55;
  border-radius: 10px;
  overflow: hidden;
}

.titleBaoGia {
  color: white;
  background: #1B1A55;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
}

.bodyBaoGia {
  padding: 30px 5% 30px 5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.userOption {
  margin: 10px 0 10px 0;
  width: 45%;
}

.optionTitle {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 4px 0;
}

input {
  border: 1px solid rgb(214, 214, 214) !important;
  height: 20px !important;
  font-size: 14px !important;
  padding: 5px !important;
  border-radius: 5px !important;
  width: 95% !important;
}

.submitBtn {
  padding: 12px;
  font-size: 15px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #1B1A55;
  color: white;
  font-weight: 600;
  margin: 25px 0 0 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.12s linear;
}

.submitBtn:hover {
  background-color: #2c2b7a;
}

.infoBaoGia {
  font-size: 15px;
  margin: 10px 0 0 0;
}
.baogiaList {
  margin: 0;
}
.baogiaList li {
  font-size: 15px;
  margin: 5px 0 0 0;
}

.details {
  margin: 0 0 20px 0;
}

.saveBaoGiaBtn {
  padding: 8px;
  font-size: 15px;
  width: 300px;
  outline: none;
  border: none;
  background-color: #1B1A55;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  margin: 15px 0 0 0;
  transition: all 0.12s linear;
}

.saveBaoGiaBtn:hover {
  background-color: #2c2b7a;
}

.baogiaContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 5px 0 0 0;
}

.baogiaItem {
  width: calc(100%/3.5);
  font-size: 15px;
  border: 1.5px solid #1B1A55;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.12s linear;

}

.baogiaItem:hover {
  background-color: rgb(227, 227, 227);
}

.selected {
  color: white;
  background-color: #1B1A55;
}

.deleteIcon {
  font-size: 14px;
  margin: 0 0 0 7px;
  cursor: pointer;
  transition: all 0.12s linear;
}

.deleteIcon:hover {
  color: red
}

.totalMoney {
  margin: 8px 0 0 0;
  padding: 8px 0 0 15px;
  box-sizing: border-box;
  border-top: 1px solid gray;
  font-size: 18px;
  font-weight: 600;
  width: 350px;
}

.oldBaoGia_container {
  box-sizing: border-box;
  padding: 5px 10px 10px 10px;
}

.yourOldBaoGia {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.oldBaoGia {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0 20px 0;
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  transition: all 0.12s linear;
}

.oldBaoGia:hover {
  color: white;
  background-color: #2c2b7a;
}
.oldBaoGia_header {
  display: flex;
  justify-content: space-between;
}

.oldBaoGia_title {
  font-size: 15px;
  font-weight: 600;
}

.oldBaoGia_comments, .oldBaoGia_size {
  font-size: 12px;
}

.oldBaoGia_Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0 0;
}

.currData_Container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 0;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.CurrData {
  width: 50%;
  padding: 3px;
}

.CurrData_Title {
  font-size: 15px;
  font-weight: 600;
}

.CurrData_Data {
  font-size: 12px;
}

.CurrBaoGia_CommentBoxTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0 3px 3px 3px;
  width: 82px;
}

.CurrBaoGia_CommentBox {
  max-width: 100%;
  min-width: 100%;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  font-size: 11px;
  border: none;
  resize: none;
  padding: 7px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
  overflow-y: scroll;
  margin: 5px 0 0 0;
}

.CurrBaoGia_CommentBox:focus {
  outline: none;
}

.CurrBaoGia_SendComment {
  padding: 8px;
  font-size: 13px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #1B1A55;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.12s linear;
}

.CurrBaoGia_Accept {
  padding: 8px;
  font-size: 12px;
  outline: none;
  border: none;
  background-color: #1B1A55;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.12s linear;
  margin: 0 0 0 20px;
}

.CurrBaoGia_Accept:hover {
  background-color: #2c2b7a;
}

.CurrBaoGia_SendComment:hover {
  background-color: #2c2b7a;
}

.CurrBaoGia_noComment {
  color: gray;
  width: 100%;
  text-align: center;
  margin: 5px 0 20px 0;
}

.commentBox {
  padding: 0 10px 0 10px;
  margin: 10px 0 15px 0;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3px 0;
}

.commentUser {
  font-size: 14px;
  font-weight: 600;
}

.commentContent, .commentTime {
  font-size: 11px;
}

.commentContainer {
  max-height: 180px;
  overflow: scroll;
}

.checkboxDieuKhoan {
  z-index: 999;
}

.btnCtn {
  padding-top: 5px;
}

