.thanhtoan {
    margin-top: 30px;
    }
    .thanhtoan h1{
        text-transform: uppercase;
        font-family: Unica One,sans-serif;
        font-size: 200%;
    }
    .thanhtoan-Content{
        color: black;
        background-color: #f8f8f8;
         border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        max-width: 1200px;
        margin: 20px auto;
        font-size: 18px;
        text-align: justify;
    }
    
.head {
    font-weight: bold;
}
.content .title {
    font-weight: bold;
}

.section-thanhtoan-title {
    font-size: 3em; 
    color: #1B1A55;
    font-weight: bold;
    text-align: center;
}