
.footer {
    display: flex;
   
    align-items: center;
    justify-content: space-evenly;
    background-color: #E4E4E7;
   
    font-family: 'Montserrat';
    width:100%
}
/* .content{
    position: absolute;
    bottom: 0;
    width:100%;

} */

.section {
    line-height: 3em;
}
.section1-upper ul {
    display: flex;
    justify-content: space-between;
 
}

.section1-upper .section1-upper-detail {
    text-decoration: none;
    color:black;
    font-weight: bolder;
}

.section1-lower li{
    line-height: 2em;
    
}

.section2 p{
    display: flex;
    align-items: center;
    justify-content: center;
}

