.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-title {
    font-size: 3em; /* Adjust the font size as needed */
    color: #1B1A55; /* The color of the text */
    font-family: "Roboto Condensed";
    font-weight: bold;
    margin: 0 20px; /* Spacing between the lines and the text */
  }
  
  .line {
    flex-grow: 1; /* Lines will take up the remaining space */
    height: 2px; /* Height of the lines */
    margin: 0 30px;
    background-color: #1B1A55; /* Color of the lines */
  }

  .section-content {
    font-weight: bolder;
    font-size: larger;
    text-align: justify;
  }

  .section-content-link {
    color: #1B1A55;
    margin-left: 1em;
  }
