.content .title {
    font-family: "Roboto Condensed";
    font-weight: bold;

}

.card {
    border-radius: 30px;
    gap:2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}