.AboutUs{
    text-align: center;
    margin-top: 30px;
    
    }
    .AboutUs h2{
        text-transform: uppercase;
        font-size: 300%;
    }
    .AboutUs img{
        max-width: 200px;
        
    }
    .AboutUs-Content{
        font-size: 100%;
        text-align: center;
    }   

    .Contact-Content {
        text-align: center;
        font-size: 150%;
    }
.content .title {
    font-weight: bold;  
    text-align: center;  
} 