.title_sl {
  position: relative;
  margin-bottom: 20px;
}
h1.tieude_sl {
  text-align: left;
  font-family: 'MEB';
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}